body {
    background-color: #393b41;
}

h3 {
    color: #cccdce;
}

.main {
    width: 100%;
    display: flex;
}

.panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    margin: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding-left: 10px;
}
.rssItem {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 70px;
    background-color: #404249
}

.rssItem:hover {
    background-color: #323439;
}

.rssItem h3 {
    padding-left: 15px;

}
.rssItem span {
    padding-right: 15px;
    color: #cccdce;
}

.rssItem a {
    text-decoration: none;
    color: #cccdce;
}

.newItem {
    border: 1px solid #ccffdd;
}

#feeds {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    color: #cccdce;
    font-weight: 700;
}

.Feed {
    margin: 5px;
}

#plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ccffdd;
    font-size: 64px;
    text-align: center;
    color: #cccdce;
    cursor: pointer;
    margin-left: 10px;
    position: fixed;
    bottom: 20;
}

#plus:hover {
    background-color: #323439;
    border-color: #cccdce;
}

#label {
    position: fixed;
    width: 145px;
    height: 25px;
    background-color: #404249;
    text-align: center;
    color: #cccdce;
    padding-top: 5px;
    bottom: 80;
    left: 100px;
    border-radius: 5px;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #cccdce;
    background-color: #323439;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

#popup h3 {
    font-size: 40px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#button {
    margin-top: 20px;
    border-style: none;
    border-radius: 3px;
    height: 32px;
    width: 125px;
    border: 1px solid #cccdce;
    background-color: #404249;
    color: #cccdce;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

#button:hover {
    background-color: #323439;
    border-color: #cccdce;
}

#input {
    background-color: #404249;
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
    height: 35px;
    width: 500px;
    color: #cccdce;
    outline: none;
}


.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible ;
}