body {
    background-color: #393b41;
}

.main {
    width: 100%;
    display: flex;
}

.panel {
    min-width: 300px;
    width: 300px;
    min-height: 500px;
    margin: 5px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding-left: 10px;
}
.rssItem {
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    background-color: #404249
}

.rssItem:hover {
    background-color: #323439;
}

.rssItem h3 {
    padding-left: 15px;
    color: #cccdce;
}
.rssItem span {
    padding-right: 15px;
    color: #cccdce;
}

.rssItem a {
    text-decoration: none;
    color: #cccdce;
}

.newItem {
    border: 1px solid #ccffdd;
}

.Feed {
    list-style: none
}