<html>

<head>
    <title>Chat</title>
    <style>
        input { display: block; }
      ul { list-style: none; }
    </style>
</head>

<body>
    <ul id="messages">
        {{range .}}
            <li>{{ .Title }}</li>
        {{end}}
    </ul>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script>
        $(function () {
            var socket = null;
            var messages = $("#messages");
            if (!window["WebSocket"]) {
                alert("Error: Your browser does not support web sockets.")
            } else {
                socket = new WebSocket("ws://localhost:8080/stream");
                socket.onclose = function () {
                    alert("Connection has been closed.");
                }
                socket.onmessage = function (e) {
                    messages.prepend($("<li>").text(e.data));
                }
            }
        });
    </script>
</body>

